[[source]]
#url = "https://mirrors.aliyun.com/pypi/simple"
url = "https://pypi.org/simple/"
verify_ssl = true
name = "pypi"

[packages]
channels-redis = "*"
celery = "*"
channels = "*"
redis = "*"
jsonfield = "*"
django-lbutils = "*"
django-celery-results = "*"
lbjobmonitor = "*"
django-stronghold = "*"

[dev-packages]
isort = "*"
"flake8" = "*"

[requires]
python_version = "3.6"
